<div class="say_words position-relative" style="align-items: unset">
  <div class="row display_friend">
    <div class="friend_div">
      <div style="bottom: 5px;">
        <div class="cat_search position-relative" *ngIf="user === url_id">
          <ng-autocomplete class="autocomplete-container" #searchText [data]="allUsers"
            placeHolder="Search your friend's" historyIdentifier="allUsers" [searchKeyword]="keyword"
            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <div class="d-flex allusers_set">
              <div class="profile_pics position-relative">
                <img [src]="item.profileImgURl" onerror="this.src='/assets/images/character.png';">
              </div>
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="profile/{{item._id}}">
                    <div class="search_somenone_profile" [innerHTML]="item.name | titlecase"></div>
                  </a>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>
      <div class="display_friends" *ngIf="show_friends && user === url_id">
        <a style="color: #0F1B31;" class="my_post_links" href="friends/{{id}}">
          <div style="font-weight: 600;" class="badges_for_fr position-relative">Friend Requests</div>
        </a>
        <a style="color: #0F1B31;" class="my_post_links" href="peopleknow/{{id}}">
          <div style="font-weight: 600;" class="badges_for_pymk position-relative">Find Friends</div>
        </a>
      </div>
    </div>
  </div>
  <div class="about_description tab-content">
    All Friends
  </div>
  <div class="row friends_display" *ngIf="show_friends && user === url_id">
    <div class="user_friend" style="padding: 25px; border: 1px solid #ececec;border-radius: 8px;"
      *ngFor="let frddetail of frdDetails; let i = index">
      <div class="unfriend_details">
        <img width="40" height="40" [src]="frddetail.profileImgURl" onerror="this.src='/assets/images/character.png';"
          style="border-radius: 50%;" />
        <div class="unfriend_image">
          <a href="profile/{{frddetail._id}}"> {{frddetail.name}} </a>
        </div>
      </div>
      <div class="unfriend_btn">
        <i class="unfriend" style="color: #FF9000;" (click)="reject_request(frddetail._id, frddetail.name);"
          title="UnFriend"><img src="../../assets/images/unfriend.png" alt="unfriend"></i>
      </div>
    </div>
    <div class="col-md-12 no_friend_show" *ngIf="notAnyFrd" style="text-align: center; ">
      {{notAnyFrd}}
    </div>
  </div>

  <div class="row friends_display" *ngIf="show_friends && user !== url_id || router.url !== friend_id">
    <div class="user_friend" style="padding: 25px; border: 1px solid #ececec;border-radius: 8px;"
      *ngFor="let frddetail of frdDetails; let i = index">
      <div class="unfriend_details">
        <img width="40" height="40" [src]="frddetail.profileImgURl" onerror="this.src='/assets/images/character.png';"
          style="border-radius: 50%;" />
        <div class="unfriend_image">
          <a href="profile/{{frddetail._id}}"> {{frddetail.name}} </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 no_friend_show" *ngIf="notAnyFrd" style="text-align: center; margin-left: 25%;">
      {{notAnyFrd}}
    </div>
  </div>

</div>