<ng-container>
    <div class="item video_item" *ngIf="urls.length > 0; else elseVideo">
        <ng-image-slider [videoAutoPlay]=true [imageSize]="{width: '32%', space: 3}" [videoAutoPlay]="true"
            [showArrow]=false [animationSpeed]="0.5" class="slider_image_photos" [images]="urls | slice:0:totalDisplay">
        </ng-image-slider>
    </div>
</ng-container>

<ng-template #elseVideo>
    <div class="main_post_content d-flex flex-column" style="color: #0F1B31; margin-bottom: 20px;">
        <h6>Don't have any videos yet</h6>
    </div>
</ng-template>